
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
         @media(max-width: 575px)
            {
                .intro-y .box {
                    width: 100%!important;
                }
            }
    </style>
    <body class="py-5">
        {% include 'header.html' %}
        <!-- BEGIN: Content -->
    <div class="content">
            <div class="flex items-center mt-8">
        <!-- <h2 class="intro-y text-lg font-medium mr-auto">Add / Manage Category</h2> -->
    </div>
    <!-- BEGIN: Wizard Layout -->
    <div class="intro-y box py-10 sm:py-20 mt-5">
        <h2 style=" font-size: 30px; font-weight: 500; text-align: center;
        color: black;">ADD COORDINATORS</h2>
        <br>
        {% if message %}
          <div class="alert alert-danger" role="alert">
              {{ message }}
          </div>
        {% endif %}
        <br>
        
              
        <div class="px-5 sm:px-20 mt-10 pt-10 border-t border-slate-200/60 dark:border-darkmode-400">
            <!-- <div class="font-medium text-base">Add / Manage Products</div> -->
            <form action="" method="post">
                {% csrf_token %}
                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                
                    <div class="intro-y col-span-12 sm:col-span-6">
                      <label for="username">Username:</label>
                      <input type="text" id="username" name="username" required class="form-control" >
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                      <label for="email">Email:</label>
                      <input type="email" id="email" name="email" required class="form-control" >
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                      <label for="first_name">First Name:</label>
                      <input type="text" id="first_name" name="first_name" required class="form-control" >
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                      <label for="last_name">Last Name:</label>
                      <input type="text" id="last_name" name="last_name" required class="form-control" >
                    </div>


                    <div class="intro-y col-span-12 sm:col-span-6">
                      <label for="primary_mobile">Primary Mobile:</label>
                      <input type="tel" id="primary_mobile" name="primary_mobile" required class="form-control" >
                    </div>


                    <div class="intro-y col-span-12 sm:col-span-6">
                      <label for="secondary_mobile">Secondary Mobile:</label>
                      <input type="tel" id="secondary_mobile" name="secondary_mobile" required class="form-control" >
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                      <label for="place">Place:</label>
                      <input type="text" id="place" name="place" required class="form-control" >
                    </div>

                    <br>
                    <div class="intro-y col-span-12 sm:col-span-6">
                      <label for="center1">Center 1:</label>
                      <select id="center1" name="center1" required class="border rounded-md py-2 px-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent" >
                        {% for center in centers %}
                          <option value="{{ center.id }}">{{ center.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <br>

                    <div class="intro-y col-span-12 sm:col-span-6" >
                      <label for="center2">Center 2:</label>
                      <select id="center2" name="center2" required class="border rounded-md py-2 px-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent">
                        {% for center in centers %}
                          <option value="{{ center.id }}">{{ center.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    
                    <br>

                    <div class="intro-y col-span-12 sm:col-span-6">
                      <label for="password">Password:</label>
                      <input type="password" id="password" name="password" required class="form-control">
                    </div>

                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        <!-- <button class="btn btn-secondary w-24">Add</button> -->
                        <button class="btn btn-primary w-24 ml-2" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END: Wizard Layout -->
    </div>
    <!-- END: Content -->
    <style>
        .dark-mode-switcher{
            display: none;
        } 
         .sm\:py-20 {
            padding-top: 5rem;
            padding-bottom: 1rem;
        }
        .content {
            min-height: 75vh;
           
        }
    </style>
       
    </body>
{% endblock content %}
