{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    /* Custom CSS styles */
    h2 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
    tr:hover {
        background-color: #f5f5f5;
    }
    a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    a:hover {
        color: #fff;
    }
</style>
</head>
<body>
    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser or request.user.coordinator %}
            {% include 'header.html' %}
        {% endif %}
    {% endif %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
    <div class="container">
        <h2 class="text-center mb-4">Batches</h2>
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Names</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for b in batch %}
                        <tr>
                            <td class="text-center">
                                <a href="{% url 'batch_sections' center_id=center.id batch_id=b.id %}">
                                    {{ b.name }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>    
{% endblock %}