{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
         @media(max-width: 575px)
            {
                .intro-y .box {
                    width: 100%!important;
                }
            }
    </style>
    <body class="py-5">
        {% include 'header.html' %}
        <!-- BEGIN: Content -->
    <div class="content">
            <div class="flex items-center mt-8">
        <!-- <h2 class="intro-y text-lg font-medium mr-auto">Add / Manage Category</h2> -->
    </div>
    <!-- BEGIN: Wizard Layout -->
    <div class="intro-y box py-10 sm:py-20 mt-5">
      <h2 style=" font-size: 30px; font-weight: 500; text-align: center;
      color: black;">Edit Attendance</h2>
        <h2 style=" font-size: 30px; font-weight: 500; text-align: center;
        color: red;">{{ center.name }} - {{ section.name }}</h2>
     
         
        <div class="px-5 sm:px-20 mt-10 pt-10 border-t border-slate-200/60 dark:border-darkmode-400">
            <!-- <div class="font-medium text-base">Add / Manage Products</div> -->
            <form action="" method="post">
                {% csrf_token %}
                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                
                    <div class="intro-y col-span-12 sm:col-span-6">
                      <label for="date">Date:</label>
                      <input type="date" name="date" id="date" class="form-control"  required  value="{{ attendance.date|default_if_none:''|date:'Y-m-d' }}">
                    </div>
                    <br>
                    <div class="intro-y col-span-12 sm:col-span-6">
                      <center><label for="student"><h3>Select Student:</h3></label></center>
                      {% for student in students %}
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="student"  id="student_{{ student.id }}" value="{{ student.id }}" {% if student in attendance.student.all %}checked{% endif %}>
                          <label class="form-check-label" for="student_{{ student.id }}">{{ student.full_name }}</label>
                      </div>
                  {% endfor %}

                    
                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        <!-- <button class="btn btn-secondary w-24">Add</button> -->
                        <button class="btn btn-primary w-24 ml-2" type="submit">Present</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END: Wizard Layout -->
    </div>
    <!-- END: Content -->
    <style>
        .dark-mode-switcher{
            display: none;
        } 
         .sm\:py-20 {
            padding-top: 5rem;
            padding-bottom: 1rem;
        }
        .content {
            min-height: 75vh;
           
        }
    </style>
      
    </body>
{% endblock content %}
