{% load static %}
	<!--wrapper-->
	<div class="wrapper">
	 <!--start header wrapper-->	
	  <div class="header-wrapper">
		<!--start header -->
		<header>
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand gap-3">
					<div class="topbar-logo-header d-none d-lg-flex">
						<div class="">
							<img src="{% static 'images/ACMLogo.png' %}" class="logo-icon" alt="logo icon">
						</div>
						
					</div>
					<!--  -->
					<div class="user-box dropdown px-3">
						<a class="d-flex align-items-center nav-link dropdown-toggle gap-3 dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{% static 'images/avatars/defaulimage.png' %}" class="user-img" alt="user avatar">
							<div class="user-info">
								<p class="user-name mb-0">Admin</p>
							</div>
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item d-flex align-items-center" href=""><i class="bx bx-user fs-5"></i><span>Profile</span></a>
							</li>							
							<li>
								<div class="dropdown-divider mb-0"></div>
							</li>
							<li><a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}"><i class="bx bx-log-out-circle"></i><span>Logout</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!--end header -->
		<!--navigation-->
		   <div class="primary-menu">
			   <nav class="navbar navbar-expand-lg align-items-center">
				  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
					<div class="offcanvas-header border-bottom">
						<div class="d-flex align-items-center">
							<div class="">
								<img src="{% static 'images/ACMLogo.png' %}" style="width: 222px;" class="logo-icon2" alt="logo icon">
							</div>
							<div class="">
								<h4 class="logo-text"></h4>
							</div>
						</div>
					  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
					  <ul class="navbar-nav align-items-center flex-grow-1">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
									<div class="parent-icon"><i class='bx bx-home-alt'></i>
									</div>
									<div class="menu-title d-flex align-items-center">Dashboard</div>
									<div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div>
								</a>
								<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="{% url 'dashbord' %}"><i class='bx bx-pie-chart-alt' ></i>Default</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
									<div class="parent-icon"><i class='bx bx-cube'></i>
									</div>
									<div class="menu-title d-flex align-items-center">Masters</div>
									<div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div>
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="{% url 'center_list' %}"><i class='bx bx-file' ></i>List of Centers</a></li>
									<li><a class="dropdown-item" href="{% url 'coordinator_lists' %}"><i class='bx bx-file' ></i>List of Coordinators</a></li>
								
								
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
									<div class="parent-icon"><i class='bx bx-message-square-edit'></i>
									</div>
									<div class="menu-title d-flex align-items-center">Leads</div>
									<div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div>
									
								</a>
								<ul class="dropdown-menu">									
									<li> <a class="dropdown-item" href="{% url 'add_lead' %}"><i class='bx bx-edit'></i>Add Lead</a>
									<li><a class="dropdown-item" href="{% url 'lead_list' %}"><i class='bx bx-file' ></i>List of Leads</a></li>
									
									</li>
									
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
									<div class="parent-icon"><i class='bx bx-book-reader'></i>
									</div>
									<div class="menu-title d-flex align-items-center">Students</div>
									<div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div>
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="{% url 'student_list' %}"><i class='bx bx-file' ></i>List of Students</a></li>
								
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
									<div class="parent-icon"><i class='bx bx-notepad'></i>
									</div>
									<div class="menu-title d-flex align-items-center">Attandance</div>
									<div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div>

								</a>

								<!-- Do not delete this its for Dark mode-->
								<ul class="dropdown-menu scroll-menu">
									<li><a class="dropdown-item" href="{% url 'attends_centers' %}"><i class='bx bx-file' ></i>List of Centers</a></li>
								</ul>

							</li>
					  	</ul>
					</div>
				  </div>
			  </nav>
		</div>
		<!--end navigation-->
	   </div>
	   </div>
	   
	